@model NugetApp.Web.Models.PackageModels.PackageViewModel

@{
    ViewBag.Title = "MyPackages";
}

<h2>Packages</h2>

<div class="container">

    <ul class="list-group list-group-flush">
        @foreach (var package in Model.PackageDetails)
        {
            <li class="list-group-item">
                <article class="package" role="listitem">

                    <div class="row">
                        <div class="col-sm-1 hidden-xs hidden-sm col-package-icon">
                            <img class="package-icon img-responsive" aria-hidden="true" alt="" src="https://api.nuget.org/v3-flatcontainer/newtonsoft.json/12.0.3/icon" onerror="this.src='https://www.nuget.org/Content/gallery/img/default-package-icon-256x256.png'; this.onerror = null;">
                        </div>
                        <div class="col-sm-11">
                            <div class="package-header">
                                <h3>
                                    @Html.ActionLink(@package.Name, "Details", new { id = @package.Id })
                                    <img class="reserved-indicator" src="/Content/gallery/img/reserved-indicator.svg" onerror="this.src='https://www.nuget.org/Content/gallery/img/reserved-indicator-20x20.png'; this.onerror = null;" title="The ID prefix of this package has been reserved for one of the owners of this package by NuGet.org.">
                                </h3>

                                <span class="package-by">
                                    By: @package.ApplicationUser.Email
                                </span>
                            </div>

                            <ul class="package-list">
                                <li>
                                    <span class="icon-text">
                                        <i class="ms-Icon ms-Icon--Download" aria-hidden="true"></i>
                                        @package.PackageDownloadCount total downloads
                                    </span>
                                </li>
                                @*<li>
                                    <span class="icon-text">
                                        <i class="ms-Icon ms-Icon--History" aria-hidden="true"></i>
                                        last updated <span>@package.PackageVersions.</span>
                                    </span>
                                </li>
                                <li>
                                    <span class="icon-text">
                                        <i class="ms-Icon ms-Icon--Flag" aria-hidden="true"></i>
                                        Latest version: <span class="text-nowrap">12.0.3 </span>
                                    </span>
                                </li>*@
                            </ul>

                            <div class="package-details">
                                @package.Description
                            </div>
                        </div>
                    </div>
                </article>

            </li>
        }

        @*<li class="list-group-item">
            <article class="package" role="listitem">

                <div class="row">
                    <div class="col-sm-1 hidden-xs hidden-sm col-package-icon">
                        <img class="package-icon img-responsive" aria-hidden="true" alt="" src="https://api.nuget.org/v3-flatcontainer/newtonsoft.json/12.0.3/icon" onerror="this.src='https://www.nuget.org/Content/gallery/img/default-package-icon-256x256.png'; this.onerror = null;">
                    </div>
                    <div class="col-sm-11">
                        <div class="package-header">
                            <a class="package-title" href="/packages/Newtonsoft.Json/" data-track="search-selection" data-track-value="0" data-package-id="Newtonsoft.Json" data-package-version="12.0.3" data-use-version="False">Newtonsoft.<wbr>Json</a>

                            <img class="reserved-indicator" src="/Content/gallery/img/reserved-indicator.svg" onerror="this.src='https://www.nuget.org/Content/gallery/img/reserved-indicator-20x20.png'; this.onerror = null;" title="The ID prefix of this package has been reserved for one of the owners of this package by NuGet.org.">


                            <span class="package-by">
                                by:
                                <a href="/profiles/dotnetfoundation" title="View dotnetfoundation's profile">dotnetfoundation</a>
                                <a href="/profiles/jamesnk" title="View jamesnk's profile">jamesnk</a>
                                <a href="/profiles/newtonsoft" title="View newtonsoft's profile">newtonsoft</a>
                            </span>
                        </div>

                        <ul class="package-list">
                            <li>
                                <span class="icon-text">
                                    <i class="ms-Icon ms-Icon--Download" aria-hidden="true"></i>
                                    779,062,694 total downloads
                                </span>
                            </li>
                            <li>
                                <span class="icon-text">
                                    <i class="ms-Icon ms-Icon--History" aria-hidden="true"></i>
                                    last updated <span data-datetime="2019-11-09T01:27:30.7230000+00:00" title="2019-11-09T01:27:30Z">11/9/2019</span>
                                </span>
                            </li>
                            <li>
                                <span class="icon-text">
                                    <i class="ms-Icon ms-Icon--Flag" aria-hidden="true"></i>
                                    Latest version: <span class="text-nowrap">12.0.3 </span>
                                </span>
                            </li>
                            <li class="package-tags">
                                <span class="icon-text">
                                    <i class="ms-Icon ms-Icon--Tag" aria-hidden="true"></i>

                                    <a href="/packages?q=Tags%3A%22json%22" title="Search for json">json</a>
                                </span>
                            </li>
                        </ul>

                        <div class="package-details">
                            Json.NET is a popular high-performance JSON framework for .NET
                        </div>
                    </div>
                </div>
            </article>
        </li>*@
        <br />
        <br />
    </ul>

</div>