@model NugetApp.Web.Models.PackageModels.PackageUploadModel

@{
    ViewBag.Title = "Upload";
}

<h3>Upload new package</h3>

<div id="content">
    <div class="container-fluid" style="width:100%;">
        <!-- Page Heading -->
        <div>
            <h1 class="h3 mb-4 text-gray-800">Add Article</h1>
            <hr />
        </div>
        <div class="mb-5">
            @using (Html.BeginForm("Upload", "Package", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    <div class="col-md-1">
                        @Html.LabelFor(m => m.Name)
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-1">
                        @Html.LabelFor(m => m.Description)
                    </div>
                    <div class="col-md-5">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-1">
                        @Html.LabelFor(m => m.Version)
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.Version, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Version, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-1">
                        @Html.LabelFor(m => m.File)
                    </div>
                    <div class="col-md-5">
                        @Html.TextBoxFor(m => m.File, new { type = "file" })
                        @Html.ValidationMessageFor(m => m.File, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-primary" id="btn_submit" value="Upload" />
                    </div>
                </div>
            }
        </div>

    </div>
</div>